body {
    background-color: rgb(245, 245, 245);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(26, 96, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color: rgb(2, 51, 141);
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

h2 {
    color: rgb(80, 80, 80);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

p {
    color: rgb(133, 133, 133);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

#questionRegister{
    text-align: center;
}

.loginContainer {
    margin: 0 auto;
    width: 30%;
    height: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 30px;
    background: rgb(245, 245, 245);
    box-shadow: 15px 15px 30px rgb(200, 200, 200),
               -15px -15px 30px rgba(255, 255, 255, 0.2);
}

button {
    padding: 10px 20px; 
    color: white;
    border: none;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-weight: bold;
    font-size: 18px; 
    display: block;
    margin: 0 auto;
    align-self: center;
    margin-top: 20px;
    background: rgb(26, 96, 225);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

button:hover {

    background: rgb(26, 76, 205);
    color: rgb(255, 255, 255);
}

button:active {
    box-shadow: inset 0 4px 8px rgb(33, 75, 129);
    color: rgb(224, 224, 224);
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease;
}


input {
    padding: 10px 20px; 
    background-color: rgb(230, 230, 230); 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: text;
    font-size: 16px; 
    margin: 4px 2px;
    text-align: left;
    text-decoration: none; 
    display: inline-block; 
    font-weight: bold;
    font-size: 18px; 
    display: block;
    margin: 0 auto;
    align-self: center;
    margin: auto;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
}

input:focus {
    background-color: rgb(245, 245, 245);
    color: black;
    transition: background 0.3s ease, color 0.3s ease;
    box-shadow: inset 0  2px 4px rgba(0, 0, 0, 0.2);
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.error {
    box-shadow: 0 0 5px red inset;
    transition: box-shadow 1s ease-out;
}


